.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
 
   .pagination-item {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     background-color: #ccc;
     color: #fff;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     margin: 0 5px;
     transition: background-color 0.3s ease;
 
     &.active {
       background-color: #aaa;
     }
 
     &:hover {
       background-color: #aaa;
     }
   }
 
   .pagination-arrow {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     background-color: #ccc;
     color: #fff;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     margin: 0 5px;
     transition: background-color 0.3s ease;
 
     &.disabled {
       opacity: 0.5;
       cursor: not-allowed;
     }
 
     &:hover {
       background-color: #aaa;
     }
   }
 }
 